:root {
    
	--color1: red;
	--color2: blue;
	--color3: #5DADE2;
	--color4: #F1948A; 
	--fondo: #F5F7FB;
    --colorletra: #283747;
	
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: black;
	font-family: 'Quicksand', sans-serif;
	color: var(--colorletra);
}

a {
	text-decoration: none;
}

ul {
    list-style: none;
}

.principal {
			display: grid;
			grid-template-columns: auto auto auto;
			position: relative;
			width: 100vw;
			height: 100vh;
			overflow: hidden;
			
		}

.pagina1, .pagina2
{
	width: 100vw;
	
}


.pagina1{
	background: no-repeat center url("../img/LogoVictor.png");
	background-size: contain;
	display: grid;
	grid-template-columns: 25% 75%;
	height: 100vh;
	overflow: hidden;
	
}
.pagina2{
	background-color: black;
	color: rgb(240, 230, 238);
	display: grid;
	grid-template-areas: 	'header header'
							'fotografia datospersonales'
							'fotografia perfil'
							'fotografia estudios';
	grid-template-columns: 25% 75%;
	grid-template-rows: 10% 30% 30% 30%;
	position: absolute;
	/*opacity: .9 ;*/
	height: 100vh;
	transition: .5s all ease-in-out;
	left:100%;
	pointer-events: none;
}

.entrar{
	left: 0%;
	pointer-events: all;	
}



.banner{
	/*grid-column: 1 /2;*/
	display: flex;
	/*height: 40%;*/
	border-radius: 0 15px 15px 0;
	/*background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
	linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
	linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/
	background: no-repeat center url("../img/foto.jpeg");
	background-size: cover;
	position: relative;

}

.banner:before{
	content: "";
	position: absolute;
	width: 100%;
	min-height: 1000%;
	top: 0;
	left: 0;
	background: linear-gradient(45deg,var(--color1), var(--color2));
	opacity: 0.5;
	border-radius: 15px;
}

.banner_titulo{
	display: flex;
	flex-direction: column;
	text-align: center;
	z-index: 0;
}
.banner_img {
	z-index: 2;
	width: 50px;
	height: 50px;
}
.banner_titulo h1 {
	font-size: 40px;
	font-weight: bold;
	color: white
}
.banner_titulo h2 {
	font-size: 20px;
	color: white
}

.seccion{
	/*grid-column: 2 /3;*/
	display: grid;
	grid-template-rows: 10% 70% 20%;
	padding:2rem 1rem 6rem 2rem;
	height:auto
}
.seccion_titulo{
	color: whitesmoke;
	font-size: 30px;
	margin-bottom: 1.5rem;
}

.seccion_habilidades{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 40px;
	margin-bottom: 90px;
	margin-top: 30px;
}

.habilidad {
	background-color: rgb(219, 224, 233);
	padding: 0.75rem;
	border-radius: 10px;
	margin-top: 20px;
	
}
.habilidad_texto{
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .15rem;
	margin-top: 30px;
}
.habilidad_barra-ext{
	width: 100%;
	padding: 3px;
	background-color: aqua;
	display: flex ;
	align-items: center;
	justify-content: flex-start;
	border-radius: 1rem;

}

.habilidad_barra-int{
	height: 4px;
	border-radius: 1rem;
	background-color: blue;
}
.seccion_habilidades .habilidad:nth-child(1) .habilidad_barra-int{
	width: 85%;
}

.seccion_habilidades .habilidad:nth-child(2) .habilidad_barra-int{
	width: 50%;
}
.seccion_habilidades .habilidad:nth-child(3) .habilidad_barra-int{
	width: 70%;
}
.seccion_habilidades .habilidad:nth-child(4) .habilidad_barra-int{
	width: 70%;
}
.seccion_botones{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 25px;
	min-height: 2rem;
}
.seccion_botones a {
	display:flex;
	justify-content: center;
	align-items: center;
	gap: .5rem;
	background: linear-gradient(45deg,var(--color1), var(--color2));
	padding: .7rem;
	border-radius: 30px;
	font-size: .9rem;
	font-weight: 600;
	transition: .2s all ease-in-out;
}
.seccion_botones .bx{
	font-size: 30px;
}
.seccion_botones .seccion_botones-1 {
	color: beige;
	font-size: 30px;
	transition: all .2s ease-in-out;
}
.seccion_botones .seccion_botones-1:hover{
	color: #020b1b;
	transform: scale(.8);
}

.seccion_botones .seccion_botones-2 {
	color: beige;
	font-size: 30px;
	transition: all .2s ease-in-out;
}

.seccion_botones .seccion_botones-2:hover{
	color: #020b1b;
	transform: scale(.8);
}

.rrss{
	position: fixed;
	bottom: 0rem;
	left:50%;
	transform: translateX(-50%);
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.rrss_texto{
	color: whitesmoke;
	border-radius: 10px;
}
.rrss_texto p{
	text-align: center;
	font-size: 20px;
}
.rrss_enlaces{
	background-color: rgba(75, 4, 4, 1);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 172px;
	width: 100%;
	border-radius: 30px;

}
.rrss_enlaces a{
	margin: 10px;
	color: antiquewhite;
	font-size: 2.5rem;
	transition: .3s all ease-in-out;
	
}
.rrss_enlaces a:hover{
	color: rgb(94, 33, 236);
	transform: scale(1.2);

}
.rrss_enlaces a:nth-child(3) .bx{
	font-size: 2.1rem;
}
/* pagina2*/
.header{
	background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
	linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
	linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 160px;

}

.header_logo{
	position: relative;
	top: 35px;
	width: 150px;
	height: 150px;
	z-index: 2;
	
}
.header_a{
		color: white;
		font-weight: bold;
		font-size: 30px;
		transition: all .2s ease-in-out;
		
}
.header_a:hover{
	color: #020b1b;
	transform: scale(.8);
}

.fotografia{
	background-color: #eb2f6e;
	grid-area: fotografia;
	
}
.fotografia_img{
	object-fit: cover;
  	width:100%;
  	height:100%;
}

.datospersonales{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto ;
	grid-area: datospersonales;
	padding: 40px 0 0 40px;
}
.datospersonales_nombre{
	grid-column: 1 /4;
	margin-bottom: 30px;
}
.datospersonales_nombre h1{
	font-size: 40px;
	font-weight: bold;
	margin-right: 2rem;
	text-transform: uppercase;
}
.datospersonales_nombre h2{
	font-size: 30px;
	text-transform: uppercase;
}	
.linea {
	border-top: 1px solid rgb(248, 245, 245);
	height: 2px;
	width: 100%;
	padding: 0;
	margin: 20px auto 0 auto;
  }
.datospersonales_ul{
	display: flex;
}
.datospersonales_li{
	display: flex;
	align-items: center;
	margin-right: 40px;
}

.icono{
font-size: 30px;
align-items: center;
margin-right: 20px;
}

.perfil{
	grid-area: perfil;
	margin: 20px 20px 20px 20px; 
	}

.perfil_titulo{
	display: flex;
	gap: 15px;
	padding: 15px;
}
.perfil_titulo i{
	font-size: 30px;
	font-weight: bold;
}
.perfil_texto{
	display: flex;
	font-size: 20px;
	margin-left: 40px;
}

.estudios{
	grid-area: estudios;
	column-count: 2;
	column-rule: 3px solid white;
}
.estudios_titulo{
	display: flex;
	gap:15px;
	padding: 15px;
	margin:20px 20px 200px 20px;
}
.estudios_titulo i{
	font-size: 30px;
	font-weight: bold;
}
table{
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	font-size: 20px;
	margin-left: 30px;
}

.estudios_ano{
	font-weight: bold;
}